#login-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9000;
  text-align: center;
  .login-form {
    margin: auto;
    margin-top: 5%;
    width: 200px;
    padding: 50px;
    background-color: grey;
  }
}

.current-narrative {
  width: 60%;
  height: auto;
  margin-top: 75px;
  margin-left: 15%;
  padding: 13px;
  background-color: black;
  color: white;
  border-radius: 3px;
  animation: narrative 2s;
}

@keyframes narrative {
  from { opacity: 0; }
  to   { opacity: 1; }
}

* {
  font-family: "Aldrich", sans-serif;
  background-color: lightgray;
}

.wrapper {
  background-color: white;
  width: 100%;
}

.narrative {
  float: left;
  width: 35%;
  height: 650px;
  text-align: left;
  overflow: auto;
}

.narrative-paragraph {
  width: 60%;
  height: auto;
  margin-top: 75px;
  margin-left: 15%;
  padding: 13px;
  background-color: white;
  color: black;
  border-radius: 3px;
}

.interactive {
  margin-left: 35%;
  width: 65%;
  height: 650px;
  text-align: center;
}

.coding-wrapper {
  text-align: left;
  border: 1px solid black;
}

.inventory {
  color: lightgray;
  background-color: black;
  width: 100%;
  height: 150px;
  text-align: left;
  font-family: "Aldrich", sans-serif;
  font-size: 18px;
}

.name-inventory {
  margin-left: 2%;
  width: 35%;
  padding: 5px;
  // margin: top right down left
  background-color: black;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 18%;
  background-color: black;
}

.flex-container {
  div {
    background-color: lightgray;
    margin: 10px;
    padding: 18px;
    line-height: 8px;
    text-align: center;
    color: black;
    font-size: 15px;
  }
}

#challenge-options {
  display: flex;
  justify-content: flex-start;
  div {
    margin-left: 20px;
  }
}

.button {
  background-color: white;
  padding: 5px;
  width: 160px;
  height: 45px;
  font-size: 13px;
  margin: 5px;
  line-height: 1.3;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.timer {
  margin: auto;
  padding: 5px;
}

.button:disabled {
  background: #dddddd;
}

#code-btn {
  font-size: 12px;
}

#challenge-text {
  width: 400px;
  margin-bottom: 20px;
}
